<h2>運営者情報 </h2>
<br>
<h5 style="background-color:#ffffa0;"> 事業名:</h5>
 <p>bosai-stocker(防災ストッカー)</p>
 <p>防災グッズの管理ツールの提供</p>

<h5 style="background-color:#ffffa0;"> 代表者:</h5> 
 <p>ikasan </p>
 <p>個人運営で活動しております。プログラムを学習しながらwebアプリケーションを作成しています。
    アプリでの修正やご指摘、アドバイスなどがあれば知らせください。どうぞよろしくお願いします。</p>

<h5 style="background-color:#ffffa0;"> 所在地:</h5> 
<p>静岡県沼津市 </p>

<h5 style="background-color:#ffffa0;"> 問い合わせ:</h5>
<p> メールアドレス: bosai.stocker@gmail.com</p>
<p> <%= link_to "お問い合わせフォーム", new_contact_path %> </p>