
<div class="row">
 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" > </div>
 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
  <div class="top_phrase">
    <p>いざというその時のために、<br>防災アイテムを備えよう。&emsp;   </p>
  </div>
  <div class="sub_phrase">
    <p> &emsp;防災ストッカーは、災害に備える飲料や食料、防災アイテムを管理できるサービスです。<br>
        &emsp;また、防災アイテムを通して他ユーザーとつながりを持つことができます。
    <p>
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 login"> 
  <ul>
    <li>  <%= link_to 'ログイン画面',  home_path %> </li>
    <br>
    <li>  <%= link_to "新規登録はこちら", new_user_registration_path %> </li>
  </ul>
 </div> 
 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> </div>
</div>
<br><br>

<div class="row">
 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" > </div>
 <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" > 
   <h3> 防災ストッカーの機能　</h3>
   <div class = "bs_explain">
   <br>
   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" > 
      <h5>&emsp;防災アイテムを写真と期限をつけて管理</h5>
         <p>&emsp;防災アイテムを購入したら、すぐに防災ストッカーに登録しましょう。<br>
         &emsp;防災アイテムの名前、カテゴリー、数量、期限、写真を登録すれば完了です。<br><br>
         &emsp;自分の持っている防災アイテムを写真付き一覧で見ることできるので、<br>&emsp;ストックの確認や更新に便利です。<br><br>
          &emsp;メモも一緒に登録できます。 公開メモは紹介用。<br>&emsp;非公開メモはプライベート情報を記入できます。

         </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" > 
    
      <img src="/intro_1.png" class="img-fluid">
    </div>
   </div> <!-- row end -->
   <hr>
   <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" > 
       <h5> &emsp;期限近くになったらメールでお知らせ </h5>
          <p>&emsp;防災ストッカーでは防災アイテムの期限を登録します。<br><br>
          &emsp;期限の1ヶ月前、1週間前、期限当日にメールであなたにお知らせします。<br>
          &emsp;期限忘れに効果的です。
          </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" >
     </div>
   </div> <!-- row end -->
   <hr>
   <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" > 
      <h5>&emsp;他ユーザーのアイテムをチェックし、良い防災アイテムを知る</h5>
        <p>&emsp;防災ストッカーでは、他ユーザーの防災アイテムを見ることができます。<br><br>
         &emsp;また良いアイテムに対して、「いいね」をしたり<br>&emsp;コメントをやりとりすることもできます。<br><br>
        &emsp;この機能を通して、より有用なアイテムや使い方、購入の仕方などを<br>&emsp;知ることができるかもしれません。
　      </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" > 
     <img src="/intro_3.png" class="img-fluid">
    </div>
  </div> <!-- row end -->
  <hr>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" > 
      <h5>&emsp;他のユーザーとつながり、防災の情報を発信&キャッチ</h5>
        <p>&emsp;防災ストッカーでは、防災情報などを自ら発信することができます。<br><br>
        &emsp;また、他ユーザーの発信を見ることで、<br>&emsp;新たな発見や地域の防災情報を知ることができます。<br><br>
        &emsp;地域でのつながりが生まれ、防災の意識が維持向上することを期待しています。<br>
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" > </div>
  </div> <!-- row end -->
 </div> <!--bs explain end-->
 </div> <!-- col end -->
</div> <!-- row end -->





