
<h3>防災アイテムを備えよう </h3>
<p> 防災ストッカーとは、災害に備える飲料や食料、防災アイテムを管理できるサービスです。</p>

<p> 防災グッズを写真と期限をつけて管理</p>
<p> 他のユーザーのアイテムを知ることでより良い防災グッズを知る</p>
<p> 近くのユーザーとつながり、防災の情報をキャッチ</p>
<ul>
  <li>  <%= link_to 'ログイン画面',  home_path %> </li>
  <li>  <%= link_to "アドミンページ", adminhome_path %> </li>
</ul>


