
<h1> これは防災app です </h1>

<ul>
  <li>  <%= link_to 'ログイン画面',  home_path %> </li>
  <li>  <%= link_to "アドミンページ", adminhome_path %> </li>
</ul>


<div class="json_test">
    aaa
</div>

 <select ></select>
 <select id="regData"></select>
