<div class="items container ">
  <nav class = "navbar bg-warning navbar-dark box-header row">
    <a class = "navbar-brand" href="/"><%= @user.public_name %>さんの防災グッズ</a>
  </nav>
    <br>
     <div class="other_items_display">
          <%= render partial: 'other_items_display', locals: {items_array: @items_array,categories: @categories} %>
     </div>  <!-- tab2-->
</div>  <!-- items container -->

<% content_for :sidebar_left do %>
 <%= render partial: 'layouts/sidebar', locals: {user: @user, remindmails: nil} %>
<% end %>