
.box_name{
    float: left;
    position:relative;
    top:30px;
}

.box_category{
    float: left;
    position:relative;
    top:50px;
}

.box_memo{
     width: 50px;    
}

.items{
    border-radius: 20px;
    border: solid 1px;
     text-align: center;
  }

  .item{
     text-align: center;
     font-size:14px;
     font-family: 'HiraKakuProN-W6';
  }

 .pic_frame{
     position: relative;
    border:solid 1px;
    height:150px;
 }
 // 写真部分に赤い丸
.pic_frame p{
     position: absolute;
     color: #ffffff;
     background-color: #ff0000;
     bottom:0;
     right:0;
     margin: 0px;
     
     text-align: center;
     line-height: 30px;
    
     width: 30px;
	height: 30px;
     border-radius: 50%;
}


  .item_pic{
    height:100%;
  }
  
  .public_memo_explain p {
    text-align: left;
    border-radius: 0px;
    border: solid 1px;
    border-color: #dddddd;
    background-color: #fafafa;
    word-break: break-all;
    font-size: 12px;
  }

