

.box_name{
    float: left;
    position:relative;
    top:30px;
}

.box_category{
    float: left;
    position:relative;
    top:50px;
}

.box_memo{
     width: 50px;    
}

.items{
    border-radius: 20px;
    border: solid 1px;
     text-align: center;
  }

  .item{
     text-align: center;
     font-size:14px;
     font-family: 'HiraKakuProN-W6';
  }

 .pic_frame{
     position: relative;
    border:solid 1px;
    height:150px;
 }
 // 写真部分の右上に赤い丸
.pic_frame p{
     position: absolute;
     color: #ffffff;
     background-color: #ff0000;
     top:0;
     right:0;
     margin: 0px;
     text-align: center;
     line-height: 30px;
     width: 30px;
	height: 30px;
     border-radius: 50%;
}


  .item_pic{
    max-width:100%;
    max-height:100%;
  }
  

  .public_memo_explain {
    text-align: left;
    border-radius: 0px;
    border: solid 1px;
    border-color: #dddddd;
    background-color: #fafafa;
    word-break: break-all;
    font-size: 18px;
  }
  

  .other_public_memo_explain p{
    font-size: 12px;
    word-break: break-all;
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
  }

  .other_public_memo_explain p::before{
    position: absolute;
    background-color: #ffffff;
    content: "...";
    bottom: 0px;
    right: 0px;
}
.other_public_memo_explain p::after{
    position: absolute;
    background-color: #ffffff;
    content: "";
   height:100%;
   width: 100%;
}

// 写真選択アイコン
.img_point{
  cursor: pointer;
}

/*===============================================================
      smart_phone
  ================================================================*/

  .item_smart{
    text-align: center;
    font-size:28px;
    font-family: 'HiraKakuProN-W6';
 }

.pic_frame_smart{
    position: relative;
   border:solid 1px;
   height:200px;
}
// 写真部分の右上に赤い丸
.pic_frame_smart p{
    position: absolute;
    color: #ffffff;
    background-color: #ff0000;
    top:0;
    right:0;
    margin: 0px;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size:28px;
}

.public_memo_explain_smart {
    text-align: left;
    border-radius: 0px;
    border: solid 1px;
    border-color: #dddddd;
    background-color: #fafafa;
    word-break: break-all;
    font-size: 40px;
  }