
.box_name{
    float: left;
    position:relative;
    top:30px;
}

.box_category{
    float: left;
    position:relative;
    top:50px;
}

.box_memo{
     width: 50px;    
}

.items{
    border-radius: 20px;
    border: solid 1px;
     text-align: center;
  }
  
  .item{
     text-align: center;
     font-size:14px;
     font-family: 'HiraKakuProN-W6';
  }

 .pic_frame{
    border:solid 1px;
    height:150px;
 }

  .item_pic{
    height:100%;
  }
  