.search{
 display: inline-block;
 position: relative;    
}

.category_search{
    border: solid 1px;
    border-color: #c0c0c0;
    border-radius: 10px;
    background-color: #fffff0;
}

.area_search{
    border: solid 1px;
    border-color: #c0c0c0;
    border-radius: 10px;
    background-color: #fffff0;
}

.family_search{
    border: solid 1px;
    border-color: #c0c0c0;
    border-radius: 10px;
    background-color: #fffff0;
}

.search_field{
    border-radius: 10px;
}