
.profile_edit{

  border-radius: 20px;
  border: solid 1px;
   text-align: center;
}

.profile_explain{
  font-size:14px;
  height: 110px;
  word-break: break-all;
  overflow: hidden;
  border: solid 1px;
  border-color: #c0c0c0;
}

.yet_blank{
  font-size:12px;
  color: #ff9090;
}

.mail_part{
  border-bottom: solid 3px #f0c020;
}
 /*===============================================================
      smart_phone
  ================================================================*/
  .mail_part_smart{
    border-bottom: solid 6px #f0c020;
  }