/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree ./main
 *= require_self
 */

@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";


#service{
   width: 1000px;
   text-align: center;
}

#left{
  /* background: #EEEEEE;   */
 float: left;
 width: 25%;
  height: 1000px;
 margin-right: 5%;
}

#center{
 float: left;
 width: 70%;
height: 1000px;
}


.profile{
  border-radius: 20px;
  border: solid 1px;
   text-align: center;
}


.gray{
  background: #EEEEEE;
}
.red{
  background: #D03000;
  color: #FFFFFF;
}

.card{
    border:solid 0px;
}



.box-header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
