<p>こんにちは <%= @resource.email %>さん!</p>
<p> <%=ApplicationHelper::APP_NAME %>です。</p>

<p>あなたのパスワード変更が要求されました。 下のリンクをクリックしてパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えがない場合は、無視してください。</p>
<p>尚、上記リンクにアクセスいただき、新しいパスワードが作成されるまでパスワードは変更されませんのでご注意下さい。</p>
