<p>こんにちは <%= @resource.email %>さん!</p>
<p> <%=ApplicationHelper::APP_NAME %>です。</p>
<p>ログインを一定数以上失敗したため、あなたのアカウントはロックされました。</p>

<p>以下のリンクからあなたのアカウントのロックを解除してください</p>

<p><%= link_to 'アカウントロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
